/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.body__header {
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.header__figure {
  margin: 0;
}

.header__image {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .body__header {
    text-align: center;
  }

}

.body__main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.card__task,
.input_text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item-section__wrapper {
  display: flex;
  margin: 20px 0 0;
}

.list {
  margin: 0;
  padding: 0px;
}

.list__item {
  list-style: none;
}

.input,
.button,
.checkbox {
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.header_size_small {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}

.input_text:focus {
  color: #333;
}

/* New Task */
.add-item__label_task {
  display: block;
}

.add-item__input_task {
  width: 318px;
}

/* Task list */
.card {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__checkbox {
  margin: 0 10px;
}

.card__task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.card__input_task {
  width: 226px;
}

.card__button_delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;

  background-image: url('./remove.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.card__button_delete:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-section .card__task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.card__input {
  display: none;
}

.card_mode_edit .card__input {
  display: inline-block;
  width: 224px;
}

.card_mode_edit .card__task {
  display: none;
}